apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-flask-app
spec:
  type: {{ .Values.service.type }}
  selector:
    app: flask-app
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      nodePort: {{ .Values.service.nodePort }}



